body{
	font-size: 18px;
	font-family: "Kumbh Sans", sans-serif;
	background-color: hsl(185, 75%, 39%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	position: relative;
	background-image: url('https://profile-card-comp-sol.netlify.app/assets/images/bg-pattern-top.svg'), url('https://profile-card-comp-sol.netlify.app/assets/images/bg-pattern-bottom.svg');
    background-repeat: no-repeat ;
    background-position: bottom 40vh right 50vw , top 47vh left 50vw;
	.profile{
		margin: 0 auto;
		height: 374px;
		width: 352px;
		border-radius: 0.8rem;
		background-color: white;
		@media only screen and (max-width: 410px){
			max-width: 86%;
		}
		.top-sec{
			width: 100%;
			height: 140px;
			position: relative;
			border-top-left-radius: 0.8rem;
			border-top-right-radius: 0.8rem;
			background-image: url('https://profile-card-comp-sol.netlify.app/assets/images/bg-pattern-card.svg');
			background-size: 90%;
			.circle-img{
				position: absolute;
				top: 64%;
				display: flex;
				width: 100%;
				justify-content: center;
				border-radius: 50%;
				img{
					border-radius: 50%;
					border: 0.3rem solid white;
				}
			}
		}
		.bottom-sec{
			padding-top: 4.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			@media only screen and (max-width:350px){
				font-size: 6vw;
			}
			.personal-info{
				p{
					line-height: 0px;
				}
				.name-age{
					margin-bottom: 1.8rem;
					font-weight: 700;
					span{
						font-weight: 400;
					    color: hsl(0, 0%, 59%);
					    margin-left: 0.20rem;
					}
				}
				.location{
					margin-top: 0px;
					margin-bottom: 0px;
					text-align: center;
					font-size: 0.85rem;
					font-weight: 400;
					color: hsl(0, 0%, 59%);
					margin-bottom: 2rem;
				}
			}
			.under-line{
				content: '';
				width: 100%;
				height: 1.25px;
                background-color: #96969675;

			}
			.stats{
				font-weight: 700;
				margin-top: 2rem;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
                width: 84%;
				.single-stat{
					line-height: 0.25rem;
					text-align: center;
					.value{
						margin-bottom: 1.3rem;
					}
                  .type{
                  	font-weight: 400;
                    font-size: 0.75rem;
                    color: hsl(0, 0%, 59%); 
                  }
				}
			}

		}
	}
	.attribution{
		padding-top: 10px;
	}
}